/.venv
/1 天然翡翠.csv
/1 天然翡翠.txt
/10 和田玉-草花.csv
/10 和田玉-草花.txt
/11 蛇纹石玉-浅绿色.csv
/11 蛇纹石玉-浅绿色.txt
/12 蛇纹石玉-浅绿色.csv
/12 蛇纹石玉-浅绿色.txt
/13 蛇纹石玉-白色.csv
/13 蛇纹石玉-白色.txt
/14 独山玉-白色.csv
/14 独山玉-白色.txt
/15 独山玉-深紫色.csv
/15 独山玉-深紫色.txt
/16 独山玉-酱紫色.csv
/16 独山玉-酱紫色.txt
/17 玉髓-灰色.csv
/17 玉髓-灰色.txt
/18 玉髓-浅绿色.csv
/18 玉髓-浅绿色.txt
/19 玉髓-绿色.csv
/19 玉髓-绿色.txt
/2 翡翠B货.csv
/2 翡翠B货.txt
/20 染色玉髓.csv
/20 染色玉髓.txt
/21 玛瑙-黄色.csv
/21 玛瑙-黄色.txt
/22 玛瑙-绿色.csv
/22 玛瑙-绿色.txt
/23 玛瑙-红色.csv
/23 玛瑙-红色.txt
/24 玛瑙-褐色.csv
/24 玛瑙-褐色.txt
/25 石英岩-白色.csv
/25 石英岩-白色.txt
/26 石英岩-无色.csv
/26 石英岩-无色.txt
/27 石英岩 绿色.csv
/27 石英岩 绿色.txt
/28 石英岩 蓝色.csv
/28 石英岩 蓝色.txt
/29 石英岩 红色.csv
/29 石英岩 红色.txt
/3 翡翠B+C.csv
/3 翡翠B+C.txt
/30 石英岩 黄色.csv
/30 石英岩 黄色.txt
/31 石英岩 绿色.csv
/31 石英岩 绿色.txt
/32 大理石 白色.csv
/32 大理石 白色.txt
/33 蓝田玉 黄绿色.csv
/33 蓝田玉 黄绿色.txt
/34 绿松石 蓝绿色.csv
/34 绿松石 蓝绿色.txt
/35 青金石 蓝色.csv
/35 青金石 蓝色.txt
/36 蓝铜矿.csv
/36 蓝铜矿.txt
/36-1 蓝铜矿 原矿.csv
/36-1 蓝铜矿 原矿.txt
/37 孔雀石.csv
/37 孔雀石.txt
/38 天河石.csv
/38 天河石.txt
/39 叶腊石.csv
/39 叶腊石.txt
/4 翡翠C货.csv
/4 翡翠C货.txt
/40 滑石.csv
/40 滑石.txt
/41 寿山石.csv
/41 寿山石.txt
/42 黑曜石.csv
/42 黑曜石.txt
/43 黑曜石 2.csv
/43 黑曜石 2.txt
/44 黑曜石3.csv
/44 黑曜石3.txt
/45 红宝石.csv
/45 红宝石.txt
/46 尖晶石.csv
/46 尖晶石.txt
/47 碧玺.csv
/47 碧玺.txt
/48 金绿宝石.csv
/48 金绿宝石.txt
/49 水晶无色.csv
/49 水晶无色.txt
/5 和田玉-白玉.csv
/5 和田玉-白玉.txt
/50 蓝色蓝宝石.csv
/50 蓝色蓝宝石.txt
/51 祖母绿.csv
/51 祖母绿.txt
/52 海蓝宝石.csv
/52 海蓝宝石.txt
/53 玻璃.csv
/53 玻璃.txt
/54 铁铝榴石.csv
/54 铁铝榴石.txt
/55 玻璃.csv
/55 玻璃.txt
/56 方解石.csv
/56 方解石.txt
/58 和田玉 原石 白色.csv
/58 和田玉 原石 白色.txt
/59 和田玉 原石 绿色.csv
/59 和田玉 原石 绿色.txt
/6 和田玉-碧玉.csv
/6 和田玉-碧玉.txt
/60 和田玉 原石 草花.csv
/60 和田玉 原石 草花.txt
/61 和田玉 原石 灰紫色.csv
/61 和田玉 原石 灰紫色.txt
/62 和田玉 原石 绿色.csv
/62 和田玉 原石 绿色.txt
/63 和田玉 原石 深绿色 青海料.csv
/63 和田玉 原石 深绿色 青海料.txt
/64 岫玉 黄色.csv
/64 岫玉 黄色.txt
/7 和田玉-墨玉.csv
/7 和田玉-墨玉.txt
/8 和田玉-青花.csv
/8 和田玉-青花.txt
/9 和田玉-糖玉.csv
/9 和田玉-糖玉.txt
/envi处理光谱库数据